<!DOCTYPE html>
<html>
<head> 
    <title>newbook</title>
</head>

<body>
<form>
    <div>
        <input name="title" placeholder="book_title"></input>
    </div>
    <div>
        <input name="author" placeholder="book_author"></input>
    </div>
    <div><button type="submit">Search</button>

    </div>
</form>

</body>
</html>