<!DOCTYPE html>
<html>
<head> <title>BookApp</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
</head>

<body>
    <div><button type="submit">Find a book</button>
    </div>

    <h1>Hello World</h1>
</body>
</html>





<!-- https://frontrowviews.com/Home/Event/Details/5ec5bc82d28f0a0cf8044a4b @ 00:52:01 -->
<!-- John working on strawberries @ 01:03:15 -->