<div class="flex-grid">
    <div>
      <header class="header-container">
        <h1 class="h1">Best Boooks</h1>
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
      </header>
    </div>